.bar-chart {
    height: .3rem;
    background: $color-light-gray;
    border-radius: .3rem;
    position: relative;
    margin: .8rem 2rem .8rem .5rem;

    .bar {
        height: 100%;
        display: block;
        border-radius: .3rem;
        position: relative;
        animation: slide 300ms ease-out;

        .score {
            position: absolute;
            right: -.6rem;
            top: -1.5rem;
            font-weight: bold;
            font-size: .9rem;
            background: red;
            border-radius: 2rem;
            color: white;
            width: 1.3rem;
            text-align: center;
            padding: .1rem 0 0;

            .caret {
                position: absolute;
                top: 50%;
                margin-top: 8px;
                left: 4px;
                border: solid 6px transparent;
                z-index: 1;
            }
        }
    }

    .initial, .total {
        position: absolute;
        top: 1rem;
        color: $text-color-gray;
    }

    .initial {
        left: 0;
    }

    .total {
        right: -1.5rem;
        top: -.2rem;
    }
}

@keyframes slide {
    from {
      width: 0;
    }
  }