.bar-chart {
    height: .8rem;
    background: $color-light-gray;
    border-radius: .3rem;
    position: relative;
    margin: .8rem 2rem .8rem .5rem;

    .bar {
        height: 100%;
        display: block;
        border-radius: .3rem;
        position: relative;
        animation: slide 300ms ease-out;

        .score {
            position: absolute;
            right: -.2rem;
            top: -1.2rem;
            font-weight: bold;
            font-size: .9rem;
        }
    }

    .initial, .total {
        position: absolute;
        top: 1rem;
        color: $text-color-gray;
    }

    .initial {
        left: 0;
    }

    .total {
        right: -1.5rem;
        top: -.2rem;
    }
}

@keyframes slide {
    from {
      width: 0;
    }
  }