@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

h1,h2,h3,h4,h5,p,span {
    color: $color-gray-dark;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: .5rem;
    font-size: 1.5rem;
}

h2 {
    margin: 2rem 0 1rem;
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
    margin: 1rem 0;
}

a {
    text-shadow: none;
    background-image: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.highlight {
    background: #fffbef;
    border-bottom: .2em solid #ffc72d;
}

.header, .content{
    margin: 0 auto;
    max-width: 46rem;
    padding: 1.25rem 1rem 0;
}

.header-wrapper {
    background: $brand-primary-color;
    border-bottom: 1px solid $color-gray;
}

.header {
    position: relative;
    background: $brand-primary-color;

    .logo {
        color: $color-white;
        text-decoration: none;
        margin-right: 4rem;
    }

    h2 {
        display: inline-block;
        margin: 0;
        font-size: 1.6rem;
        padding-left: 3rem;
        color: white;

        .logo-image {
            width: 2.7rem;
            margin: -.6rem 0 0 -3rem;
            position: absolute;
        }
    }

    .sub {
        display: inline-block;
        font-weight: 200;
        color: $brand-primary-light;
        font-size: 1.15rem;
        margin-left: .3rem;
    }

    .hero-image {
        position: absolute;
        right: 1rem;
        top: 2rem;
        width: 11.5rem;
    }
}

.hero-extend {
    width: 100%;
    position: absolute;
    left: 0;
    top: 4.4rem;
    border-top: 130px solid $brand-primary-color;
    border-left: 0px solid transparent;
    border-right: 250rem solid transparent;
    background: transparent;
    height:  5rem;
}

.objective {
    padding: 1rem 1.5rem;
    position: relative;
    margin: -1rem 0 2rem;
    background: url('../assets/teacher.svg') 29rem 1rem no-repeat, white;
    background-size: 17rem;
    border-bottom: 1px solid #dea865;
    box-shadow: 0 .3rem #e4e4e4;
    z-index: 1;

    animation: slideFadeInTop ease-out $animation-duration;
    animation-iteration-count: 1;

    h1 {
        font-size: 1.6rem;
        color: black;
        margin-bottom: 1.5rem;
    }

    p {
        width: 80%;
        margin: 0;
        z-index: 1;
    }

    .illustration {
        position: absolute;
        width: 20rem;
        right: 0;
        bottom: -4rem;
        z-index: 0;
    }
}

.indent {
    margin: 1rem 1rem 1rem 2.5rem;
}

.content-wrapper, html {
    background: $color-gray-faint;
}

.content {
    padding: 2rem 1rem;
}

.insights {
    padding: 1.5rem 3rem 1rem;
    background: url('../assets/lightbulb.svg')  0rem 0rem no-repeat;
    background-size: 2.5rem;;
    margin-top: 1rem;
    margin-left: -.6rem;
}

.text-toggle {
    cursor: pointer;
    margin: 0 .5rem;
    color: #8842c7;
    font-weight: bold;
}

table {
    margin: 2rem 0;

    th, td {
        padding: 0.75rem 0;
    }
    
    td:first-child {
        padding-left: .5rem;
    }
    .subtext {
        display: block;
        font-size: .8rem;
        color: $text-color-gray;
    }

    img {
        width: 2rem;
        margin-bottom: 00;
    }

    .people {
        padding-right:1rem;
    }

    .count {
        font-weight: bold;
    }
}

.card {
    border: 1px solid $brand-primary-light;
    margin: 1rem 0;
    box-shadow: 0px 1px 8px $color-gray;
    padding: 1rem;
}

.show-hide {
    transition: all .2s ease-in;
    height: 2rem;

    &.open {
        height: 10rem;
    }
}

.expandable-wrapper {
    padding-left: 1.2rem;
    border-left: 0.1rem solid $color-gray;
    margin-left: 1.1rem;
}

.expandable {
    @include card;
    transition: all 0.3s ease-in-out;
    position: relative;
    animation: slideFadeInRight ease-out $animation-duration;
    animation-iteration-count: 1;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        background: $color-gray;
        border-radius: 50%;
        left: -1.7rem;
        top: 2rem;
        border: 0.2rem solid white;
    }

    .expandable-initial {
        display: flex;
        align-items: center;
        padding: 1rem;
        background: linear-gradient(90deg,
            white 0%,
            white 50%,
            $brand-primary-color 50%,
            $brand-primary-color 100%
        );
        background-size: 200%;
        transition: background-position 0.15s ease-in;
    }

    .number {
        display: flex;
        flex-basis: 2rem;
        justify-content: center; 
        margin: 0 1rem;
 
         span {
            color: #383838;
            font-weight: bold;
            background: #ffe398;
            border: 1px solid #bb952c;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            text-align: center;
            padding-top: .3rem;
         }
     }
 
     .title {
         font-size: 1rem;
         font-weight: 400;
         margin: 0 .1rem;
         flex: auto;
     }
 
     button {
        padding: .15rem .5rem;
        border: 1px solid #3809fd;
        color: white;
        background: $brand-primary-color;
        margin: .5rem;
        flex-basis: 3rem;
        font-size: .9rem;
        white-space: nowrap;
        outline: none;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
     }

     .expandable-content {
        padding: 1.5rem;
        border-top: 1px solid $brand-primary-light;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        box-sizing: border-box;

        &.collapsed {
            max-height: 0;
            visibility: hidden;
            position: relative;
            padding:  0 1.5rem;
            opacity: 0;
        }

        &.expanded {
            max-height: 100rem;
            visibility: visible;
            opacity: 1;
        }
     }

     &.expanded {
        border: 1px solid $brand-primary-color;
        box-shadow: 0px 5px 10px $box-shadow-dark;

        &:before {
            left: -1.75rem;
            top: 1.95rem;
        }

        .expandable-initial {
            background-position: 100% 100%;
        }

        .title {
            color: white;
        }

        .number span{
            border: 1px solid $brand-primary-color
        }

        button {
            color: $brand-primary-color;
            background: white;
            font-weight: bold;
        }
    }
}

.page-links {
    list-style: none;
    margin: 0;
}

.link {
    display: block;
    padding: 1rem;
    text-decoration: none;

    span {
        text-decoration: underline;
        color: #1ca086;
    }

    border-bottom: 1px solid $color-gray;
}

section {
    border-top: 1px solid $color-gray;
    padding: 2rem 0;

    &.borderless {
        border: 0;
    }
}

.completion-rate {
    padding-left: 3rem;
    background: url('../assets/trophy.png') no-repeat 0rem 1.3rem;
    background-size: 3.5rem;
}

.stat-paragraph {
    background: white;
    border: 1px solid #dea865;
    box-shadow: 0 0.3rem #e4e4e4;
    padding: 1rem 1.5rem;

    div {
        display: flex;
        align-items: center;
    }

    h3 {
        margin-bottom: .5rem;
    }

    p {
        margin: .5rem;
    }

}

.stat {
    font-size: 3rem;
    padding: 1rem;

    .sub {
        font-size: 1.5rem;
        color: $color-gray-medium;
    }
}
.completion-breakdown {
    margin-bottom: 2rem;
}

.bar-wrapper {
    display: flex;
    align-items: center;
    margin: .6rem 0 0;

    span {
        flex: 0 1 6rem;
        font-size: .9rem;
    }
    
    .chart-wrapper {
        flex: 0 1 80%;
    }
}

.row {
    display: flex;

    span {
        flex: 0 1 50%;
    }
}

.appendix {
    ul {
        list-style: none;
    }

    li {
        display: flex;
        align-items: center;
    }

    img {
       width: 100%;;
    }

    .icon {
        display: inline-block;
        max-width: 1.2rem;
        margin: 0 .5rem 0 0;
    }
}

@media (max-width: $screen-phone) {
    html {
        font-size: .8rem;
    }
    
    .header {
        .hero-image {
            display: none;
        }
    }

    .hero-extend {
        display: none;
    }


    .objective {
        p {
            width: 100%;
        }
    }
}

@media (max-width: $screen-tablet) and (min-width: $screen-phone) {
    .hero-extend {
        display: none;
    }
    
    .objective {
        p {
            width: 100%;
        }
    }
}

@media (max-width: $screen-phone-small) and (min-width: 0px) {
    html {
        font-size: .8rem;
    }

    .expandable-wrapper {
        padding-left: 1.1rem;
        margin-left: .5rem;
    }

    .expandable {
        .number {
            margin: 0 .5rem;

            span{
                width: 1.9rem;
                height: 1.8rem;
            }
        }

        .expandable-initial {
            padding: 1rem .5rem;
        }
    }

    .nav-item a {
        padding: 0 .6rem .5rem;
    }

    .participant-page .details img {
        width: 6rem;
    }
}

@keyframes slideFadeInTop{
    0% {
        opacity: 80%;
        transform: translateY(-1rem);
        background-position: 29rem 3rem;
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
        background-position: 29rem 1rem
    }
}

@keyframes slideFadeInRight{
    0% {
        opacity: 80%;
        transform: translateX(1rem);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}