.nav {
    margin: 1rem 0 0;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    margin: 0;
    
    a {
        display: block;
        color: $brand-primary-light;
        text-decoration: none;
        padding: 0 .8rem .5rem;
        font-size: 1rem;
    }

    a.active {
        color: white;
        border-bottom: 4px solid $brand-color-yellow;
        font-weight: bold;
    }
}
