.participants {
    display: flex;
    flex-wrap: wrap;

    .participant {
        @include card;

        display: block;
        padding: 2rem .5rem;
        margin: 1rem;
        border: 1px solid $brand-primary-light;
        width: 12rem;
        transition: all 200ms ease-in-out;

        &:hover {
            background: $color-blue-really-light;
            border: 1px solid $brand-primary-color;

            h4 {
                color: $brand-primary-color;
            }
        }

        img {
            display: block;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 0 auto;
        }

        h4 {
            margin: .5rem 0 1rem;
            text-align: center;
            transition: color 200ms ease-in-out;
        }

        span {
            display: block;
        }

        .info {
            margin: 0 1rem;

            .row {
                border-top: 1px solid $color-gray;
                padding-top: 1rem;
            }
        }

        .label {
            display: block;
            font-size: .9rem;
        }

        strong {
            display: block;
            margin-bottom: 0.5rem;
        }
    }
}

.participant-page {

    .details {
        display: flex;
        align-items: center;

        .avatar {
            margin-right: 1rem;
        }

        img {
            border-radius: 50%;
            width: 5rem;
            margin: 1rem 0.5rem;
        }

        h2 {
            margin: .5rem 0;
        }

        span {
            display: block;
        }

        .label {
            display: inline-block;
        }
    }

    strong {
        margin-left: .5rem;
    }
}

.company-ratings {
    margin: 2rem 1rem;

    h3 {
        margin-bottom: 1rem;
    }

    .label {
        font-weight: bold;
        text-transform: capitalize;
    }
}

.tasks {

    .task {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
        border-bottom: 1px solid $color-light-gray;
        margin-bottom: 1rem;
    }

    a {
        display: block;
        margin: .5rem 0 1rem;
        width: 100%;
        font-weight: bold;
        color: $text-color-link;
        text-decoration: underline;
        padding-left: 8%;
    }

    span {
        flex: 1 0 33%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    img {
        display: block;
        width: 1.5rem;
        margin: 0 auto;
    }

    .score-wrapper {
        display: block;
        border-radius: 50%;
        padding: .5rem;
        width: 4rem;
        margin: 0 auto;
    }

    .score {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin: .5rem 0 0;
        line-height: .8rem;
    }

    .label {
        font-size: .8rem;
        display: block;
        margin: 0;
    }

    .completion {
        padding-top: 1rem;

        .label {
            margin: .25rem 0 0;
        }
    }
}

@media (max-width: $screen-phone) {
    .participants {
        display: block;

        .participant {
            padding: .5rem 1rem;
            margin: 1rem 0;
            display: flex;
            flex: 0 2 auto;
            align-items: center;
            text-align: left;
            width: auto;

            img {
                width: 2.5rem;
                height: 2.5rem;
                margin: 1rem;
            }

            h4 {
                margin: .5rem 0;
                text-align: left;
            }
    
            span {
                display: flex;
                margin-right: .5rem;
            }
    
            .info {
                margin: 0 1rem;

                .row {
                    border:0;
                    padding-top: 0;
                }
            }
    
            .label {
                display: flex;
                flex: 0 1 auto;
                font-size: .9rem;
            }
    
            strong {
                flex: 0 1 8rem;
            }
        }
    }

    .task {
        a {
            padding-left: 1rem;
        }
    }
}