.seq-confidence {
    display: flex;

    h4 {
        margin: 0 0 1.5rem;
        
        small {
            color: $text-color-gray;
        }
    }

    .seq, .confidence {
        display: block;
        font-size: 2.5rem;
        padding: 1rem;

        span {
            display: inline-block;
        }

        .adjusted{
            font-size: 1.5rem;
        }
    }
}

.interaction, .issue {
    display: flex;
    margin: 2rem 0 0;
    align-items: center;

    img {
        margin: 0;
        width: 1.5rem;
    }

    .label {
        font-weight: bold;
        display: block;
    }
}

.interaction {
    .number-wrapper {
        width: 28%;
        margin: 0 1rem;
    }

    .count {
        display: block;
    }
}

.issue {
    span {
        flex-basis: 33%
    }

    .severity-wrapper {
        text-align: center;
    }

    .severity {
        padding: .25rem 1rem;
        color: $color-white;
        border-radius: .25rem;
        margin-bottom: .25rem;
        display: inline-block;
    }
}