$brand-primary-color: #2971B9;
$brand-primary-light: #b8d3ef;
$brand-color-yellow: #FFC72D;
$brand-color-orange: #e4832f;
$brand-color-orange-light: #ffefd2;

$color-white: #ffffff;
$color-gray-faint: #f7f7f7;
$color-light-gray: #efefef;
$color-gray: #d4d4d4;
$color-gray-medium: #9c9c9c;
$color-gray-dark: #383838;
$color-blue-light: #f0f7ff;

$text-color-gray: #adadad;
$text-color-link: #5198de;