$screen-phone-small: 390px;
$screen-phone: 500px;

$brand-primary-color: #2971B9;
$brand-primary-light: #b8d3ef;
$brand-color-yellow: #FFC72D;
$brand-color-orange: #e4832f;
$brand-color-orange-light: #ffefd2;
$brand-color-green: #2ab712;
$brand-color-green-light: #d9ffd2;

$color-white: #ffffff;
$color-gray-faint: #f7f7f7;
$color-light-gray: #efefef;
$color-gray: #d4d4d4;
$color-gray-medium: #9c9c9c;
$color-gray-dark: #383838;
$color-blue-bright: #0a75e0;
$color-blue-light: #f0f7ff;
$color-blue-really-light: #f7fbff;

$text-color-gray: #adadad;
$text-color-link: #5198de;

$box-shadow-dark: #afafaf;