$brand-primary-color: #2971B9;
$brand-primary-light: #b8d3ef;
$brand-color-yellow: #FFC72D;
$brand-color-orange: #e4832f;
$brand-color-orange-light: #ffefd2;

$color-white: #ffffff;
$color-light-gray: #efefef;

$text-color-gray: #adadad;
$text-color-link: #5198de;